In [6]:
cursor.execute("create database work")

In [9]:
cursor.execute("use work")

In [10]:
cursor.execute("create table work.worker(FIRST_NAME VARCHAR(20), SALARY INT(30))")

In [11]:
cursor.execute("INSERT INTO work.worker values('Amitabh', 5000)")

In [12]:
cursor.execute("INSERT INTO work.worker values('surya', 10000)")

In [13]:
mydb.commit()

In [18]:
cursor.execute("select * from work.worker ")

In [19]:
cursor.fetchall()

[('Amitabh', 5000), ('surya', 10000)]

<b>Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.</b>

In [20]:
cursor.execute("select substring(FIRST_NAME,1,3) from work.worker")

In [21]:
cursor.fetchall()

[('Ami',), ('sur',)]

<b>Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.</b>

In [23]:
cursor.execute("select INSTR(FIRST_NAME, BINARY'a') from work.worker where FIRST_NAME = 'Amitabh'")

In [24]:
cursor.fetchall()

[(1,)]

<b>Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.</b>

In [28]:
cursor.execute("select FIRST_NAME, MAX(SALARY) from work.worker group by FIRST_NAME")

In [29]:
cursor.fetchall()

[('Amitabh', 5000), ('surya', 10000)]