<b>Q-13. Write an SQL query to show only odd rows from aÂ table.

       SELECT * FROM (SELECT customer_id, first_name, last_name, age, country FROM Customers) WHERE customer_id % 2 <> 0;

<b>Q-14. Write an SQL query to clone a new table from another table.

     CREATE TABLE <new_table> LIKE <original_table>;
     INSERT INTO <new_table> SELECT * FROM <original_table>;