<b>Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.<b>

Ans:  SELECT REPLACE(FIRST_NAME,'a','A') FIRST_NAME FROM Worker WHERE FIRST_NAME IS NOT NULL;

<b>Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

Ans: SELECT details FROM Worker ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

<B>Q-3. Write an SQL query to fetch the names of workers who earn the highest salary<B>

Ans:  SELECT names, MAX(salary) salary FROM worker;