<b>Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.<b>

### SELECT RTRIM(FIRST_NAME) FROM Worker;

<b>Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.<b>

### SELECT DISTINCT DEPARTMENT, length(DEPARTMENT) FROM Worker GROUP BY DEPARTMENT;

<b>Q-3. Write an SQL query to fetch nth max salaries from a table.<b>

### SELECT DISTINCT(Salary) FROM Worker ORDER BY Salary DESC LIMIT 1 OFFSET n;