<b>Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as &lt;WORKER_NAME&gt;.</b>

select FIRST_NAME AS WORKER_NAME from Worker

<b>Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.</b>

select distinct DEPARTMENT from Worker

<b>Q-3. Write an SQL query to show the last 5 record from a table.</b>

select * from <b>table_name</b> where <b>column_name</b> > (select count(*) from <b>table_name</b>) - 5